@tailwind base;
@tailwind components;
@tailwind utilities;

/* slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body::-webkit-scrollbar {
  display: none;
}

/* Override slick-carousel dots */
.slick-dots li button:before {
  color: #aaa;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

.slick-slide img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes diagonalMove {
  0% {
    transform: translate(0, 0);rotate: 45deg;
  }
  50% {
    transform: translate(2px, -8px);rotate: 45deg
  }
  100% {
    transform: translate(0, 0);rotate: 45deg
  }
}

/* Apply the animation to the SVG */
.moving-diagonal {
  animation: diagonalMove 2s ease-in-out infinite;
}